<form method="POST" action="/new">
  <label for="messageUser">Author:</label><br />
  <input type="text" id="messageUser" name="messageUser" /><br />
  <label for="messageText">Message:</label><br />
  <input type="text" id="messageText" name="messageText" /><br />
  <button type="submit" class="button">Submit</button>
</form>
